<!DOCTYPE html>
<html>
<head>
    {{>head}}
    <link rel="stylesheet" href="css/core-beb9107df3.min.css" type="text/css" media="screen">
    <link href="css/print-9c7162717a.css" rel="stylesheet" type="text/css" media="print"/>
    <!--[if IE]>
    <link href="css/ieHack.css" rel="stylesheet" type="text/css" media="screen"/>
    <![endif]-->
    <link rel="stylesheet" href="css/uploadfile.css">
    <!--[if lt IE 9]>
    <script src="js/speedup.js" type="text/javascript"></script>
    <script src="js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <![endif]-->
    <!--[if gte IE 9]><![endif]-->
    <script src="js/jquery-2.1.4.min.js" type="text/javascript"></script>

    <script src="js/jquery.uploadfile.js" type="text/javascript"></script>

    <script src="js/jquery.validate.js" type="text/javascript"></script>
    <script src="js/jquery.bgiframe.js" type="text/javascript"></script>
    <script src="js/dwz.min.js" type="text/javascript"></script>

    <script src="js/dwz.regional.zh.js" type="text/javascript"></script>
    <script src="js/utils.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            DWZ.init("common/dwz.frag.xml", {
                loginUrl: "index.html",
                statusCode: {ok: 200, error: 300, timeout: 301}, //【可选】
                pageInfo: {
                    pageNum: "pageNum",
                    numPerPage: "numPerPage",
                    orderField: "orderField",
                    orderDirection: "orderDirection"
                }, //【可选】
                keys: {statusCode: "statusCode", message: "message"}, //【可选】
                ui: {hideMode: 'offsets'}, //【可选】hideMode:navTab组件切换的隐藏方式，支持的值有’display’，’offsets’负数偏移位置的值，默认值为’display’
                debug: false,	// 调试模式 【true|false】
                callback: function () {
                    initEnv();

                }
            });
        });
    </script>
</head>

<body>
<div id="layout">
    <div id="header">
        <div class="headerNav">
            <ul class="nav">
                <li><span>{{{dateTime}}}</span></li>
                <li><a href="myInfo.html" target="dialog">我的资料</a></li>
                <li><a href="changePwd.html" target="dialog">修改密码</a></li>
                <li><a href="index.html" onclick="logout()">退出</a></li>
            </ul>
        </div>
        <!-- navMenu -->
    </div>
    <div id="leftside">
        <div id="sidebar_s">
            <div class="collapse">
                <div class="toggleCollapse">
                    <div></div>
                </div>
            </div>
        </div>
        <div id="sidebar">
            <div class="toggleCollapse">
                <h2>爱都信息管理系统</h2>
                <div>收缩</div>
            </div>

            <div class="accordion" fillSpace="sidebar">

                <div class="accordionHeader">
                    <h2><span>Folder</span>业务系统</h2>
                </div>
                <div class="accordionContent">
                    <ul class="tree treeFolder">
                        <li><a>业务基础维护</a>
                            <ul>
                                <li><a href="bbm_assureUnit.html" target="navTab" rel="bbm_assureUnit">投保单位</a></li>
                                <li><a href="bbm_shopGroup.html" target="navTab" rel="bbm_shopGroup">商家集团</a></li>
                                <li><a href="bbm_sysUser.html" target="navTab" rel="bbm_sysUser">系统用户</a></li>
                                <li>
                                    <a href="bbm_insureCompanyDic.html" target="navTab" rel="bbm_insureCompanyDic">保险公司业务字典</a>
                                </li>
                                <li><a href="bbm_shoperManage.html" target="navTab" rel="bbm_shoperManage">商家管理</a></li>
                                <li><a href="bbm_shopManage.html" target="navTab" rel="bbm_shopManage">商铺管理</a></li>
                                <li><a href="bbm_insureCompany.html" target="navTab" rel="bbm_insureCompany">保险公司</a>
                                </li>
                                <li>
                                     <a href="bbm_orderMaintain.html" target="navTab" rel="bbm_orderMaintain">保单信息维护</a>
                                </li>
                                <li><a href="bbm_insureUser.html" target="navTab" rel="bbm_insureUser">投保用户</a></li>
                                <li><a href="bbm_drugCategory.html" target="navTab" rel="bbm_drugCategory">药品类别</a></li>
                                <li><a href="bbm_subCompany.html" target="navTab" rel="bbm_subCompany">分公司维护</a></li>

                            </ul>
                        </li>
                        <li>
                            <a>业务操作</a>
                            <ul>
                                <li><a href="bc_recharge.html" target="navTab" rel="bc_recharge">保单充值</a></li>
                                <li><a href="bc_signContract.html" target="navTab" rel="bc_signContract">商家签约</a></li>
                                <li><a href="bc_homeUser.html" target="navTab" rel="bc_homeUser">家庭用户</a></li>
                                <li><a href="bc_yiliaofare.html" target="navTab" rel="bc_yiliaofare">医疗消费</a></li>
                                <li><a href="bc_orderManage.html" target="navTab" rel="bc_orderManage">订单管理</a></li>
                                <li><a href="bc_specialOrder.html" target="navTab" rel="bc_specialOrder">理赔单管理</a></li>
                            </ul>
                        </li>
                        <li><a>对账管理</a>
                            <ul>
                                <li><a href="bm_todayBill.html" target="navTab" rel="bm_todayBill">今日账单</a></li>
                                <li><a href="bm_currentMonth.html" target="navTab" rel="bm_currentMonth">本月账单</a></li>
                                <li><a href="bm_historyBill.html" target="navTab" rel="bm_historyBill">历史账单</a></li>
                            </ul>
                        </li>
                        <li><a>移动端维护</a>
                            <ul>
                                <li><a href="mm_shopConfig.html" target="navTab" rel="mm_shopConfig">手机端商铺配置</a></li>
                                <li><a href="mm_cityAD.html" target="navTab" rel="mm_cityAD">城市广告</a></li>
                                <li><a href="mm_versionManage.html" target="navTab" rel="mm_versionManage">客户端版本管理</a>
                                </li>
                                <li><a href="mm_feedback.html" target="navTab" rel="mm_maintain">意见反馈</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="accordionHeader">
                    <h2><span>Folder</span>系统维护</h2>
                </div>
                <div class="accordionContent">
                    <ul class="tree treeFolder">

                        <li>
                            <a>权限系统</a>
                            <ul>
                                <li><a href="ps_menuManage.html" target="navTab" rel="ps_menuManage">菜单列表</a></li>
                                <li><a href="ps_roleManage.html" target="navTab" rel="ps_roleManage">角色管理</a></li>
                                <li><a href="ps_userAuthorize.html" target="navTab" rel="ps_userAuthorize">用户类型授权</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a>参数管理</a>
                            <ul>
                                <li><a href="pm_paramList.html" target="navTab" rel="pm_paramList">参数列表</a></li>
                                <li><a href="pm_paramManage.html" target="navTab" rel="pm_paramManage">参数管理</a></li>
                                <li><a href="pm_cacheList.html" target="navTab" rel="pm_cacheList">缓存列表</a></li>
                            </ul>
                        </li>

                        <li>
                            <a>其他模块</a>
                            <ul>
                                <li><a href="om_log.html" target="navTab" rel="om_log">操作日志</a></li>
                                <li><a href="om_fileManage.html" target="navTab" rel="om_fileManage">文件管理</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="container">
        <div id="navTab" class="tabsPage">
            <div class="tabsPageHeader">
                <div class="tabsPageHeaderContent">
                    <ul class="navTab-tab">
                        <li tabid="main" class="main"><a href="javascript:;"><span class="home_icon" ></span><span>最新消息</span></a></li>
                    </ul>
                </div>
                <div class="tabsMore">more</div>
            </div>
            <ul class="tabsMoreList">
                <li><a href="javascript:;">最新消息</a></li>
            </ul>
            <div class="navTab-panel tabsPageContent layoutBox">
                <div class="mRight">
                    <h2>公司最新消息:</h2>
                </div>
            </div>
        </div>
    </div>

</div>
{{>footer}}
</body>
</html>