<div class="pageContent">
    <form id="pagerForm">
        <div class="pageFormContent" layoutH="58">

            <div class="unit">
                <label for="uploadFileName">选择文件:</label>
                <input type="file"  id="uploadFileName" name="uploadFileName" class="required">
            </div>

        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">确定</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>