<script>
    $(document).ready(function () {
        var fileObj = initUpload('upload');
        $("#startUpload").click(function () {

            fileObj.startUpload();
        });
    });
</script>
<div class="pageContent">
    <form>
        <div class="pageFormContent" layoutH="58">
            <div class="unit" id="upload"></div>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <input type="button" value="确定" id="startUpload">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
