<div class="pageHeader" onkeypress="search('bbm_sysUser.html')">
    <form id="pagerForm">

        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        <span><label for="userName">用户姓名</label></span>
                        <input type="text" size="20" name="userName" id="userName">
                    </td>
                    <td>
                        <span><label for="category">所属类别</label></span>
                        <select name="category" id="category">
                            <option value="技术部" selected>技术部</option>
                            <option value="销售部">销售部</option>
                            <option value="人事部">人事部</option>
                        </select>
                    </td>
                    <td>
                        <span><label for="insureCompany">保险公司</label></span>
                        <input type="text" name="insureCompany" id="insureCompany" size="30">
                    </td>
                    <td>
                        <span><label for="state">状态</label></span>
                        <select name="state"  id="state">
                            <option value="正常" selected>正常</option>
                            <option value="冻结">冻结</option>
                            <option value="注销">注销</option>
                        </select>

                    </td>
                </tr>

            </table>
            <div class="subBar">
                <ul>
                    <li>
                        <div class="buttonActive"><div class="buttonContent"><button type="button" onclick="sendRequest('bbm_sysUser.html','get','pagerForm')">检索</button></div></div>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="bbm_addSysUser.html" target="dialog"  maxable="true" width="600" height="350"><span>添加</span></a></li>
            <li><a class="delete" onclick="sendRequest('bbm_sysUser.html','delete')"><span>删除</span></a></li>
            <li><a href="bbm_updateSysUser.html" class="edit" target="dialog" onclick="sendChangeRecordRequest('bbm_updateSysUser.html')"><span>修改</span></a></li>
            <li><a class="edit" onclick=""><span>解冻</span></a></li>
            <li><a class="delete" onclick=""><span>冻结</span></a></li>
            <li><a class="edit" onclick=""><span>开通</span></a></li>
            <li><a class="delete" onclick=""><span>注销</span></a></li>
            <li><a class="edit" onclick="initPass('bbm_updateSysUser.html','[0]')"> <span>密码初始化</span></a></li>
        </ul>
    </div>
    <table class="list"  layoutH="116" rel="ID" width="100%">
        <thead>
        <tr>
            <th width="10"><input type="checkbox" class="checkboxCtrl"group="checkCtrl"></th>
            <th width="50">id</th>
            <th width="100">用户姓名</th>
            <th width="100">所属类别</th>
            <th width="200">所属单位</th>
            <th width="100">用户状态</th>
            <th width="100">联系电话</th>
            <th width="100">邮箱</th>
            <th width="200">地址</th>
        </tr>
        </thead>
        <tbody id="tbody">

        {{{tableData}}}

        </tbody>
    </table>

    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select onchange="">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
            <span>条，共</span><span id="totalCount">{{totalCount}}</span><span>条</span>
        </div>
    </div>
</div>        