<div class="pageContent">
    <div layoutH="60" class="pageFormContent">
        <table class="list">
            <thead>
            <tr>
                <th>更新状态</th>
                <th>操作原因</th>
                <th>变更人</th>
                <th>变更时间</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>已开通</td>
                <td>开通</td>
                <td>超级管理员</td>
                <td>2015-04-02 10:11:52</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="formBar">
        <ul>
            <li><div class="buttonActive"><div class="buttonContent"><button type="button" class="close">关闭</button></div></div></li>
        </ul>

    </div>
</div>