<div class="pageContent">
    <form action="" method="post" class="pageForm required-validate" onsubmit="return validateCallback(this)">
        <div class="pageFormContent" layoutH="58">

            <div class="unit">
                <label for="orderNumber">投保单号:</label>
                <input type="text" size="30" class="required" id="orderNumber" name="orderNumber" >
            </div>
            <div class="unit">
                <label for="orderName">保单名称:</label>
                <input type="text" size="30" name="orderName"   id="orderName" class="required ">
            </div>
            <div class="unit">
                <label for="insureUnit">投保单位:</label>
                <input  name="insureUnit" id="insureUnit" size="30" class="required" >
            </div>
            <div class="unit">
                <label for="insureCompany">保险公司:</label>
                <select name="insureCompany" id="insureCompany" class="insureCompany">
                    <option value="sh">上海</option>
                    <option value="bj">北京</option>
                    <option value="cd">成都</option>
                </select>

            </div>
            <div class="unit">
                <label for="email">邮箱:</label>
                <input type="email" class="required" size="30" name="email" id="email">
            </div>
            <div class="unit">
                <label for="contactName">联系人:</label>
                <input type="text" class="required" size="30" name="contactName" id="contactName">
            </div>
            <div class="unit">
                <label for="contactPhone">联系电话:</label>
                <input type="text" class="required number" size="30" name="contactPhone" id="contactPhone">
            </div>
            <div class="unit">
                <label for="cellphone">联系人手机:</label>
                <input type="text" size="30" name="cellphone" id="cellphone">
            </div>

        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">保存</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>