<div class="pageContent">
    <form>
        <div class="pageFormContent" layoutH="58">

            <div class="unit">
                <label for="userName">用户姓名:</label>
                <input type="text" size="30" class="required" id="userName" name="userName" >
            </div>
            <div class="unit">
                <label for="loginName">登录名称:</label>
                <input type="text" size="30" name="loginName"   id="loginName" class="required ">
            </div>
            <div class="unit">
                <label for="class">所属类别:</label>
                <select name="class" id="class" class="combox">
                    <option value="0" selected> 保险公司</option>
                </select>

            </div>
            <div class="unit">
                <label for="unit">所属单位:</label>
                <input  name="unit" id="unit" size="30" class="required" >
            </div>
            <div class="unit">
                <label for="userPwd">用户密码:</label>
                <input type="password" class="required" size="30" name="userPwd" id="userPwd">
            </div>
            <div class="unit">
                <label for="confirmPwd">确认密码:</label>
                <input type="password" class="required" size="30" name="confirmPwd" id="confirmPwd">
            </div>
            <div class="unit">
                <label for="userState">用户状态:</label>
                <select name="userState" id="userState" class="combox">
                    <option value="0">请选择</option>
                    <option value="1">正常</option>
                    <option value="2">失效</option>
                </select>
            </div>
            <div class="unit">
                <label for="contactPhone">联系电话:</label>
                <input type="text" class="required" size="30" name="contactPhone" id="contactPhone">
            </div>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">保存</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>