
<div>
    <div class="pageHeader" onkeypress="search('bbm_assureUnitTbody','bbm_assureUnit.html')">
        <form id="pagerForm">
            <div class="searchBar">
                <table class="searchContent">
                    <tr>
                        <td>
                            <span><label for="insureNumber">编号</label></span>
                            <input type="text" size="30" name="insureNumber" id="insureNumber">
                        </td>
                        <td>
                            <span><label for="insureUnit">投保单位</label></span>
                            <input type="text" size="30" name="insureUnit" id="insureUnit">
                        </td>
                    </tr>

                </table>
                <div class="subBar">
                    <ul>
                        <li>
                            <div class="buttonActive"><div class="buttonContent"><button type="button" onclick="sendRequest('bbm_assureUnit.html','get','bbm_assureUnitTbody','pagerForm')">检索</button></div></div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>

    <div class="pageContent">
        <div class="panelBar">
            <ul class="toolBar">
                <li><a href="bbm_addInsureUnit.html" class="add" target="dialog" refresh="false" maxable="true"
                       width="600" height="350"><span>添加</span></a></li>
                <li><a class="delete" onclick="sendRequest('bbm_assureUnit.html','delete','bbm_assureUnitTbody')"><span>删除</span></a></li>
                <li><a class="edit"  target="dialog" href="bbm_updateAssureUnit.html" width="600" height="350" onclick="sendChangeRecordRequest('bbm_assureUnitTbody','bbm_updateAssureUnit.html')" ><span>修改</span></a></li>
            </ul>
        </div>
        <table class="list"  layoutH="116" rel="ID" width="100%">
            <thead>
            <tr>
                <th width="20"><input type="checkbox" class="checkboxCtrl" group="checkCtrl"></th>
                <th width="100">id</th>
                <th width="100">编号</th>
                <th width="200">投保单位</th>
                <th width="100">联系人</th>
                <th width="100">手机</th>
                <th width="200">邮箱</th>
                <th width="100">是否显示</th>
                <th width="300">地址</th>
                <th width="200">备注</th>
            </tr>
            </thead>
            <tbody id="bbm_assureUnitTbody">

            {{{tableData}}}


            </tbody>
        </table>

        <div class="panelBar">
            <div class="pages">
                    <span>显示</span>
                    <select onchange="sendRequest('pagerForm','bbm_assureUnit.html','get',0,this.value)">
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="150">150</option>
                        <option value="200">200</option>
                    </select>
                    <span>条，共</span><span id="totalCount">{{totalCount}}</span><span>条</span>
            </div>
        </div>
    </div>
</div>

