<div class="pageHeader">
    <form id="pagerForm" onsubmit="return divSearch(this, 'insureUser');" action="" method="post">
        <input type="hidden" name="pageNum" value="1" />
        <input type="hidden" name="numPerPage" value="${model.numPerPage}" />
        <input type="hidden" name="orderField" value="${param.orderField}" />
        <input type="hidden" name="orderDirection" value="${param.orderDirection}" />
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        <span><label for="userNumber">用户号</label></span>
                        <input type="text" size="30" name="assureNumber" id="userNumber">
                    </td>
                    <td>
                        <span><label for="assureUnit">所属投保单位</label></span>
                        <input type="text" size="30" name="assureUnit" id="assureUnit">
                    </td>
                    <td>
                        <span><label for="insureCompany">保险公司</label></span>
                        <input type="text" size="30" name="insureComany" id="insureCompany">
                    </td>
                    <td>
                        <span><label for="state">状态</label></span>
                        <select name="state" id="state" class="combox">
                            <option value="0" selected>全部选择</option>
                            <option value="1">状态1</option>
                            <option value="2">状态2</option>
                        </select>
                    </td>
                </tr>

            </table>
            <div class="subBar">
                <ul>
                    <li>
                        <a href="" class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="bbm_addInsureUser.html" target="dialog"  maxable="true"><span>添加</span></a></li>
            <li><a href="" class="delete" target="ajaxToDo"><span>删除</span></a></li>
            <li><a href="" class="edit" target="dialog"  maxable="true"><span>修改</span></a></li>
            <li><a href="" class="add" target="ajaxToDo"><span>开通业务</span></a></li>
            <li><a href="bbm_freezeUser.html" class="add" target="dialog"  maxable="true"><span>冻结</span></a></li>
            <li><a href="bbm_logoutUser.html" class="add" target="dialog"><span>注销</span></a></li>
            <li><a href="bbm_queryChangeRecord.html" class="add" target="dialog"  maxable="true"><span>变更记录</span></a></li>
            <li><a href="" class="icon" target="dialog" title="确定要导出这些记录吗?"><span>导出</span></a></li>
            <li><a href="bbm_importRecords.html" class="icon" target="dialog" maxable="true"><span>导入</span></a></li>

        </ul>
    </div>
    <table class="list"  layoutH="116" rel="ID" width="100%">
        <thead>
        <tr>

            <th width="20"><input type="checkbox" class="checkboxCtrl"group="checkCtrl"></th>
            <th width="100">用户号</th>
            <th width="100">姓名</th>
            <th width="50">性别</th>
            <th width="150">证件号</th>
            <th width="100">手机号</th>
            <th width="100">所属投保单</th>
            <th width="200">保险公司</th>
            <th width="50">状态</th>
            <th width="100">余额</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="checkbox" name="checkCtrl"></td>
            <td>1</td>
            <td>bj0001</td>
            <td>xxx诊所</td>
            <td>xxx</td>
            <td>张三</td>
            <td>2011-9-6</td>
            <td>xxx</td>
            <td>1</td>
            <td>1</td>
        </tr>
        </tbody>
    </table>

    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value}, 'ID')">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
            <span>条，共${totalCount}条</span>
        </div>
        <div class="pagination" rel="ID" totalCount="100" numPerPage="20" pageNumShown="1" currentPage="1"></div>
    </div>
</div>