<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a href="bbm_updateInsureUser.html" class="add" target="dialog" refresh="false" maxable="true"
                    width="600" height="350"><span>添加</span></a></li>
            <li><a href="" class="delete" title="确定要删除这些记录吗?" target="dialog" warn="请先选择一个"><span>删除</span></a></li>
            <li><a href="" class="edit"  target="ajaxToDo"><span>修改</span></a></li>
        </ul>
    </div>

    <div>

        <div layoutH="200" class="leftTree">
            <ul class="tree treeFolder">
                <li><a href="javascript:;">投保单位</a>
                    <ul>
                        <li><a href="bbm_shjs.html" target="ajax" rel="jbsxBox"> 上海建设银行</a></li>
                        <li><a href="javascript:;">北京建设银行</a>
                            <ul>
                                <li><a href="" target="ajax" rel="jbsxBox">昌平区建设银行支行</a></li>
                            </ul>
                        </li>
                        <li><a href="" target="ajax" rel="jbsxBox">德邦物流总部</a></li>
                        <li><a href="" target="ajax" rel="jbsxBox">德邦</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="jbsxBox" class="unitBox" ></div>

    </div>


</div>






