<div class="pageContent">
    <form id="addSysUser">
        <div class="pageFormContent" layoutH="60">

            <div class="unit">
                <label for="userName">用户姓名:</label>
                <input type="text" size="30" class="required" id="userName" name="userName" >
            </div>
            <div class="unit">
                <label for="class">所属类别:</label>
                <select name="class" id="class" >
                    <option value="技术部" selected> 技术部</option>
                    <option value="人事部">人事部</option>
                    <option value="销售部">销售部</option>
                </select>
            </div>
            <div class="unit">
                <label for="unit">所属单位:</label>
                <input  type = 'text' name="unit" id="unit" size="30" class="required" >
            </div>
            <div class="unit">
                <label for="userState">用户状态:</label>
                <input type="text" size="30" readonly="readonly" id="userState" name="userState" value="正常">
            </div>
            <div class="unit">
                <label for="contactPhone">联系电话:</label>
                <input type="text" class="required number" size="30" name="contactPhone" id="contactPhone" minlength="11" maxlength="11">
            </div>
            <div class="unit">
                <label for="email">邮箱:</label>
                <input type="email" class="required" size="30" name="email" id="email">
            </div>
            <div class="unit">
                <label for="address">地址:</label>
                <input type="text" class="required" size="30" name="address" id="address">
            </div>
        </div>

        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="button" onclick="sendRequest('bbm_sysUser.html','post','bbm_sysUserTbody','addSysUser')">保存</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>