<div class="pageHeader" style="border:1px #B8D0D6 solid">
    <form id="pagerForm" onsubmit="return divSearch(this, 'jbsxBox');" action="" method="post">
        <input type="hidden" name="pageNum" value="1" />
        <input type="hidden" name="numPerPage" value="${model.numPerPage}" />
        <input type="hidden" name="orderField" value="${param.orderField}" />
        <input type="hidden" name="orderDirection" value="${param.orderDirection}" />
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        <span><label for="assureNumber">编号</label></span>
                        <input type="text" size="30" name="assureNumber" id="assureNumber">
                    </td>
                    <td>
                        <span><label for="assureUnit">投保单位</label></span>
                        <input type="text" size="30" name="assureUnit" id="assureUnit">
                    </td>
                </tr>

            </table>
            <div class="subBar">
                <ul>
                    <li>
                        <a href="" class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent" style="border-left:1px #B8D0D6 solid;border-right:1px #B8D0D6 solid">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="" target="dialog" ><span>用户管理</span></a></li>
        </ul>
    </div>
    <table class="list"  layoutH="160" rel="ID">
        <thead>
        <tr>
            <th><input type="checkbox" class="checkboxCtrl"group="checkCtrl"></th>
            <th width="100">编号</th>
            <th width="200">投保单位</th>
            <th width="100">联系人</th>
            <th width="100">手机</th>
            <th width="200">邮箱</th>
            <th width="100">是否显示</th>
            <th width="300">地址</th>
            <th width="200">备注</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="checkbox"></td>
            <td>1</td>
            <td>bj0001</td>
            <td>xxx诊所</td>
            <td>xxx</td>
            <td>张三</td>
            <td>2011-9-6</td>
            <td>xxx</td>
            <td>1</td>
        </tr>
        </tbody>
    </table>

    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value}, 'ID')">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
            <span>条，共${totalCount}条</span>
        </div>
        <div class="pagination" rel="ID" totalCount="200" numPerPage="20" pageNumShown="5" currentPage="1"></div>
    </div>
</div>