<div class="pageContent">
    <form id="pagerForm">
        <div class="pageFormContent" layoutH="58">

            <div class="unit">
                <label for="subCompanyName">分公司名称:</label>
                <input type="text" size="30" class="required" id="subCompanyName" name="subCompanyName" >
            </div>


            <div class="unit">
                <label for="isShow">用户状态:</label>
                <select name="isShow" id="isShow">
                    <option value="0" selected>是</option>
                    <option value="1">否</option>

                </select>
            </div>

        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">保存</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>