<div class="pageHeader">
    <form id="pagerForm">

        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        <span><label for="insureCompanyName">保险公司名称</label></span>
                        <input type="text" size="30" name="insureCompanyName" id="insureCompanyName">
                    </td>
                    <td>
                        <span><label for="insureCompanyNumber">保险公司编号</label></span>
                        <input type="text" size="30" name="insureCompanyNumber" id="insureCompanyNumber">
                    </td>
                    <td>
                        <span><label for="state">状态</label></span>
                        <select name="state" id="state" class="combox">
                            <option value="0" selected>全部选择</option>
                            <option value="1">状态1</option>
                            <option value="2">状态2</option>
                        </select>
                    </td>
                </tr>

            </table>
            <div class="subBar">
                <ul>
                    <li>
                        <div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent" >
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="bbm_addInsureCompany.html" target="dialog"  maxable="true" width="600" height="350"><span>添加</span></a></li>
            <li><a href="" class="delete" target="ajaxToDo"><span>删除</span></a></li>
            <li><a href="" class="edit" target="dialog"  maxable="true"><span>修改</span></a></li>
            <li><a href="" class="add" target="ajaxToDo"><span>开通业务</span></a></li>
            <li><a href="bbm_freezeCompany.html" class="add" target="dialog"  maxable="true"><span>冻结</span></a></li>
            <li><a href="bbm_logoutCompany.html" class="add" target="dialog"><span>注销</span></a></li>
            <li><a href="bbm_userManage.html" class="add" target="dialog"  maxable="true" title="保险公司用户管理"><span>用户管理</span></a></li>
            <li><a href="bbm_attachmentManage.html" class="add" target="dialog" maxable="true" title="保险公司文件管理"><span>附件管理</span></a></li>
            <li><a href="" class="icon" target="dialog" title="确定要导出这些记录吗?"><span>导出</span></a></li>

        </ul>
    </div>
    <table class="list"  layoutH="116" rel="ID" width="100%">
        <thead>
        <tr>
            <th width="20"><input type="checkbox" class="checkboxCtrl"group="checkCtrl"></th>
            <th width="200">保险公司名称</th>
            <th width="100">保险公司编号</th>
            <th width="100">简称</th>
            <th width="100">电话</th>
            <th width="100">联系人名称</th>
            <th width="100">所属保险公司</th>
            <th width="50">状态</th>
        </tr>
        </thead>
        <tbody>

        {{{tableData}}}

        </tbody>
    </table>

    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value}, 'ID')">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
            <span>条，共${totalCount}条</span>
        </div>
        <div class="pagination" rel="ID" totalCount="100" numPerPage="20" pageNumShown="1" currentPage="1"></div>
    </div>
</div>