<div class="pageHeader">
    <form id="pagerForm" >

        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        <span><label for="shoperID">商家编号</label></span>
                        <input type="text" size="30" name="shoperID" id="shoperID">
                    </td>
                    <td>
                        <span><label for="shopName">商铺名称</label></span>
                        <input type="text" size="30" name="shopName" id="shopName">
                    </td>
                    <td>
                        <span><label for="shopNumber">商铺编号</label></span>
                        <input type="text" name="shopNumber" size="30" id="shopNumber">
                    </td>
                    <td>
                        <span><label for="shopClass">商家状态</label></span>
                        <select name="shopClass" id="shopClass" class="combox">
                            <option value="0" selected>全部选择</option>
                            <option value="1">一等</option>
                            <option value="2">二等</option>
                        </select>
                    </td>
                </tr>

            </table>
            <div class="subBar">
                <ul>
                    <li>
                        <a href="" class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="bbm_addShop.html" target="dialog"  maxable="true" width="600" height="350"><span>添加</span></a></li>
            <li><a href="" class="delete" target="dialog"  maxable="true"><span>冻结</span></a></li>
            <li><a href="" class="delete" target="dialog"  maxable="true"><span>解冻</span></a></li>

            <li><a href="" class="edit" target="dialog"><span>修改</span></a></li>
            <li><a href="" class="icon" target="dialog" title="确定要导出这些记录吗?"><span>导出</span></a></li>
            <li><a href="bbm_shopUserManage.html" class="add" target="dialog"  maxable="true" title="商铺用户管理"><span>用户管理</span></a></li>
            <li><a href="bbm_importRecords.html" class="icon" target="dialog" ><span>导入</span></a></li>



        </ul>
    </div>
    <table class="list"  layoutH="116" rel="ID" width="100%">
        <thead>
        <tr>
            <th width="20"><input type="checkbox" class="checkboxCtrl"group="checkCtrl"></th>
            <th width="100">商铺编号</th>
            <th width="150">商铺名称</th>
            <th width="100">商铺状态</th>
            <th width="100">联系人</th>
            <th width="100">手机</th>
            <th width="100">签约日期</th>
            <th width="100">省份</th>
            <th width="100">市</th>
        </tr>
        </thead>
        <tbody>

        {{{tableData}}}

        </tbody>
    </table>

    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
            <span>条，共</span><span id="totalCount">{{totalCount}}</span><span>条</span>
        </div>
    </div>
</div>