<div class="pageContent">

    <form id="pagerForm">

        <div layoutH="60" class="pageFormContent">
            <div class="unit">
                <label>点击下载模板:</label>
                <a href="/res/data/file.xls"><div class="buttonContent"><button type="button">下载模板</button></div></a>
            </div>
            <div class="unit">
                <label for="uploadData">上传文件:</label>
                <input type="file" id="uploadData" name="uploadData" class="required">
            </div>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">确定</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>

        </div>
    </form>

</div>