<div class="pageContent">
    <form id="uploadFile">
        <div class="pageFormContent" layoutH="58">

            <div class="unit">
                <label for ="uploadFileName">选择文件:</label>
                <input id ="uploadFileName" type="file" name="uploadFileName"/>
            </div>

        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="button" onclick="startUpload('uploadFile','uploadFileName')">确定</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>