
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="bbm_uploadFile.html" target="dialog" minable="false" maxable="true" title="文件上传"><span>上传</span></a></li>
            <li><a class="delete" onclick=""><span>删除</span></a></li>
        </ul>
    </div>
    <table class="list"  layoutH="116" rel="ID" width="100%">
        <thead>
        <tr>
            <th width="20"><input type="checkbox" class="checkboxCtrl" group="checkCtrl"></th>
            <th width="100">文件名</th>
            <th width="100">文件大小</th>
            <th width="100">上传人</th>
            <th width="200">上传时间</th>
            <th width="100">文件下载</th>

        </tr>
        </thead>
        <tbody>
        {{{tableData}}}
        </tbody>
    </table>

</div>