<div class="pageHeader" style="border:1px #B8D0D6 solid">
    <form id="pagerForm" onsubmit="return divSearch(this, 'insureUser');" action="" method="post">
        <input type="hidden" name="pageNum" value="1" />
        <input type="hidden" name="numPerPage" value="${model.numPerPage}" />
        <input type="hidden" name="orderField" value="${param.orderField}" />
        <input type="hidden" name="orderDirection" value="${param.orderDirection}" />
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        <span><label for="userName">用户姓名</label></span>
                        <input type="text" size="30" name="userName" id="userName">
                    </td>
                    <td>
                        <span><label for="loginName">登录名称</label></span>
                        <input type="text" size="30" name="loginName" id="loginName">
                    </td>
                    <td>
                        <span><label for="category">所属类别</label></span>
                        <select name="category" id="category" class="combox">
                            <option value="0" selected>全部选择</option>
                            <option value="1"></option>
                            <option value="2"></option>
                        </select>
                    </td>
                    <td>
                        <span><label for="company">保险公司</label></span>
                        <input type="text" name="company" id="company" size="30">
                    </td>
                    <td>
                        <span><label for="state">状态</label></span>
                        <select name="state" id="state" class="combox">
                            <option value="0" selected>全部选择</option>
                            <option value="1">一等</option>
                            <option value="2">二等</option>
                        </select>
                    </td>
                </tr>

            </table>
            <div class="subBar">
                <ul>
                    <li>
                        <a href="" class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent" style="border-left:1px #B8D0D6 solid;border-right:1px #B8D0D6 solid">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="bbm_addSysUser.html" target="dialog" minable="false" maxable="true"><span>添加</span></a></li>
            <li><a href="" class="delete" target="dialog" minable="false" maxable="true"><span>删除</span></a></li>
            <li><a href="" class="edit" target="dialog"><span>修改</span></a></li>
            <li><a href="" class="edit" target="ajaxToDo" title="确定初始化密码?"> <span>密码初始化</span></a></li>
            <li><a href="" class="edit" target="dialog" minable="false" maxable="true"><span>开通</span></a></li>
            <li><a href="" class="edit" target="dialog" minable="false" maxable="true"><span>注销</span></a></li>
            <li><a href="" class="icon" target="dialog" title="确定要导出这些记录吗?"><span>导出</span></a></li>
            <li><a href="bbm_importRecords.html" class="icon" target="dialog" ><span>导入</span></a></li>
        </ul>
    </div>
    <table class="list"  layoutH="160" rel="ID">
        <thead>
        <tr>
            <!--ToDo:宽度改写成百分比 以充满余下空间-->

            <th width="50"><input type="checkbox" class="checkboxCtrl"group="checkCtrl"></th>
            <th width="100">投保单号</th>
            <th width="100">保单名称</th>
            <th width="200">投保单位</th>
            <th width="100">保险公司</th>
            <th width="100">联系人</th>
            <th>联系电话</th>
            <th>联系人手机</th>
            <th width="100">投保日期</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="checkbox"></td>
            <td>1</td>
            <td>bj0001</td>
            <td>xxx诊所</td>
            <td><xx></xx>x</td>
            <td>张三</td>
            <td>2011-9-6</td>
            <td>xxx</td>
            <td>xxx</td>

        </tr>
        </tbody>
    </table>

    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value}, 'ID')">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
            <span>条，共${totalCount}条</span>
        </div>
        <div class="pagination" rel="ID" totalCount="100" numPerPage="20" pageNumShown="1" currentPage="1"></div>
    </div>
</div>        