<div class="pageHeader">
    <form id="pagerForm">

        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        <span><label for="userName">用户姓名</label></span>
                        <input type="text" size="20" name="userName" id="userName">
                    </td>
                    <td>
                        <span><label for="loginName">登录名称</label></span>
                        <input type="text" size="20" name="loginName" id="loginName">
                    </td>
                    <td>
                        <span><label for="category">所属类别</label></span>
                        <select name="category" id="category" class="combox">
                            <option value="0" selected>全部选择</option>
                            <option value="1"></option>
                            <option value="2"></option>
                        </select>
                    </td>
                    <td>
                        <span><label for="company">保险公司</label></span>
                        <input type="text" name="company" id="company" size="30">
                    </td>
                    <td>
                        <span><label for="state">状态</label></span>
                        <select name="state"  class="combox" id="state">
                            <option value="0" selected>正常</option>
                            <option value="1">冻结</option>
                            <option value="2">注销</option>
                        </select>

                    </td>
                </tr>

            </table>
            <div class="subBar">
                <ul>
                    <li>
                        <a href="" class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="bbm_addSysUser.html" target="dialog"  maxable="true" width="600" height="350"><span>添加</span></a></li>
            <li><a href="" class="delete" target="dialog"  maxable="true"><span>删除</span></a></li>
            <li><a href="" class="edit" target="dialog"><span>修改</span></a></li>
            <li><a href="" class="edit" target="dialog"  maxable="true"><span>开通</span></a></li>
            <li><a href="" class="edit" target="dialog"  maxable="true"><span>注销</span></a></li>
            <li><a href="" class="edit" target="ajaxToDo" title="确定初始化密码?"> <span>密码初始化</span></a></li>

            <li><a href="" class="icon" target="dialog" title="确定要导出这些记录吗?"><span>导出</span></a></li>
            <li><a href="bbm_importRecords.html" class="icon" target="dialog" ><span>导入</span></a></li>
        </ul>
    </div>
    <table class="list"  layoutH="116" rel="ID" width="100%">
        <thead>
        <tr>
            <th width="10"><input type="checkbox" class="checkboxCtrl"group="checkCtrl"></th>
            <th width="100">投保单号</th>
            <th width="100">保单名称</th>
            <th width="200">投保单位</th>
            <th width="200">保险公司</th>
            <th width="100">联系人</th>
            <th width="100">联系电话</th>
            <th width="100">联系人手机</th>
            <th width="100">投保日期</th>
        </tr>
        </thead>
        <tbody>

        {{{tableData}}}

        </tbody>
    </table>

    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select onchange="">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
            <span>条，共</span><span id="totalCount">{{totalCount}}</span><span>条</span>
        </div>
    </div>
</div>        