<div class="pageContent">
    <form action="" method="post" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDone)">
        <div class="pageFormContent" layoutH="58">
            <div class="unit">
                <label for="userNumber">用户号:</label>
                <input type="text" size="30" class="required" id="userNumber" name="userNumber">
            </div>
            <div class="unit">
                <label for="userName">姓名:</label>
                <input type="text" size="30" name="userName" id="userName" class="required">
            </div>
            <div class="unit">
                <label for="userSex">性别:</label>
                <input type="text" name="userSex" id="userSex" size="30">
            </div>
            <div class="unit">
                <label for="userID">证件号:</label>
                <input type="text" class="required" minlength="18" maxlength="18" size="30" name="userID"
                       id="userID">
            </div>
            <div class="unit">
                <label for="cellphone">手机号:</label>
                <input type="text" class="number required" name="cellphone" id="cellphone" size="30">
            </div>
            <div class="unit">
                <label for="insureUnit">所属投保单位:</label>
                <input type="text" class="required" size="30" name="insureUnit" id="insureUnit">
            </div>
            <div class="unit">
                <label for="insureCompany">保险公司:</label>
                <select name="insureCompany" id="insureCompany" class="combox">
                    <option value="0" selected>请选择</option>
                    <option value="1">中国平安人寿上海子公司</option>
                    <option value="2">其他保险公司</option>
                </select>
            </div>
            <div class="unit">
                <label for="state">是否显示:</label>
                <select name="state" id="state" class="combox">
                    <option value="0" selected>未绑定</option>
                    <option value="1">***</option>
                </select>
            </div>
        </div>

        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">保存</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>

</div>