<div class="pageHeader">
    <form id="pagerForm">

        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        <span><label for="orderID">投保单号</label></span>
                        <input type="text" size="20" name="orderID" id="orderID">
                    </td>
                    <td>
                        <span><label for="orderName">投保名称</label></span>
                        <input type="text" size="20" name="orderName" id="orderName">
                    </td>
                    <td>
                        <span><label for="orderUnit">投保单位</label></span>
                        <input type="text" name="orderUnit" size="20" id="orderUnit">
                    </td>
                    <td>
                        <span><label for="insureCompany">保险公司</label></span>
                        <input type="text" name="insureCompany" id="insureCompany" size="20">
                    </td>
                    <td>
                        <span style="padding: 5px;float: left">状态</span>
                        <select name="state" id="state" class="combox">
                            <option value="0" selected>全部选择</option>
                            <option value="1">一等</option>
                            <option value="2">二等</option>
                        </select>
                    </td>
                </tr>

            </table>
            <div class="subBar">
                <ul>
                    <li>
                        <a href="" class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent" >
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="bbm_addInsureOrder.html" target="dialog"  maxable="true" width="600" height="350"><span>添加</span></a></li>
            <li><a href="" class="delete" target="dialog"  maxable="true"><span>删除</span></a></li>
            <li><a href="" class="edit" target="dialog"><span>修改</span></a></li>
            <li><a href="" class="edit" target="dialog"  maxable="true"><span>开通确认</span></a></li>


            <li><a href="" class="icon" target="dialog" title="确定要导出这些记录吗?"><span>导出投保单</span></a></li>
            <li><a href="" class="add" target="dialog" title="确定要导出这些记录吗?"><span>导出投保单用户</span></a></li>

            <li><a href="bbm_importRecords.html" class="icon" target="dialog" ><span>导入</span></a></li>
            <li><a href="bbm_attachmentManage.html" class="add" target="dialog"  maxable="true" title="商铺用户管理"><span>附件管理</span></a></li>


        </ul>
    </div>
    <table class="list"  layoutH="116" rel="ID" width="100%">
        <thead>
        <tr>
            <th width="20"><input type="checkbox" class="checkboxCtrl"group="checkCtrl"></th>
            <th width="100">投保单号</th>
            <th width="100">保单名称</th>
            <th width="150">投保单位</th>
            <th width="150">保险公司</th>
            <th width="100">联系人</th>
            <th width="100">联系电话</th>
            <th width="100">联系人手机</th>
            <th width="100">投保日期</th>
            <th width="100">到期日期</th>
            <th width="50">状态</th>
        </tr>
        </thead>
        <tbody>

        {{{tableData}}}

        </tbody>
    </table>

    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
            <span>条，共</span><span id="totalCount">{{totalCount}}</span><span>条</span>
        </div>
    </div>
</div>