<div class="pageContent">
    <form action="" method="post" class="pageForm required-validate" onsubmit="return validateCallback(this)">
        <div class="pageFormContent" layoutH="58">

            <div class="unit">
                <label for="mainUserNumber">主用户号:</label>
                <input type="text" size="30" class="required" id="mainUserNumber" name="mainUserNumber" >
            </div>
            <div class="unit">
                <label for="bindPerson">绑定人:</label>
                <input type="text" size="30" name="bindPerson"   id="bindPerson" class="required ">
            </div>

            <div class="unit">
                <label for="relationship">关系:</label>
                <input  name="relationship" id="relationship" size="30" class="required" type="text">
            </div>
            <div class="unit">
                <label for="ID">身份证:</label>
                <input type="text" class="required" size="30" name="ID" id="ID">
            </div>
            <div class="unit">
                <label for="cellPhone">手机号:</label>
                <input type="text" class="required number" size="30" name="cellPhone" id="cellPhone">
            </div>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">保存</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>