<div class="pageContent">

    <div class="pageFormContent" >
        <div class="unit">
            <label for="inputTotal">请输入总金额</label>
            <input type="text" class="number" size="30" name="inputTotal" id="inputTotal">
        </div>
    </div>
    <div class="formBar">
        <ul>
            <li>
                <div class="buttonActive">
                    <div class="buttonContent">
                        <button type="submit">保存</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="button">
                    <div class="buttonContent">
                        <button type="button" class="close">取消</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>