<div class="pageHeader">
    <form id="pagerForm" >

        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        <span><label for="userName">投保用户名</label></span>
                        <input type="text" size="20" name="userName" id="userName">
                    </td>
                    <td>
                        <span><label for="shoper">所属商家</label></span>
                        <input type="text" size="20" name="shoper" id="shoper">
                    </td>
                    <td>
                        <span><label for="shop">所属商铺</label></span>
                        <input type="text" size="25" name="shop" id="shop">
                    </td>
                    <td>
                        <span><label for="subCompany">所属分公司</label></span>
                        <input type="text" size="30" name="subCompany" id="subCompany">
                    </td>

                </tr>

            </table>
            <div class="subBar">
                <ul>
                    <li>
                        <a href="" class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a href="" class="delete" target="ajaxToDo" title="你确定取消该订单吗?"><span>取消订单</span></a></li>
            <li><a href="" class="icon" target="dialog" title="确定要导出这些记录吗?"><span>导出</span></a></li>
        </ul>
    </div>
    <table class="list"  layoutH="116" rel="ID" width="100%">
        <thead>
        <tr>
            <th width="20"><input type="checkbox" class="checkboxCtrl"group="checkCtrl"></th>
            <th width="100">投保用户名</th>
            <th width="100">消费编号</th>
            <th width="100">所属商家</th>
            <th width="200">所属商铺</th>
            <th width="200">所属分公司</th>
            <th width="80">支付状态</th>
            <th width="80">消费金额</th>
            <th width="80">刷卡消费</th>
            <th width="80">现金支付</th>
            <th width="150">消费时间</th>
            <th width="80">消费家属</th>
        </tr>
        </thead>
        <tbody>

        {{{tableData}}}

        </tbody>
    </table>


    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select onchange="">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
            <span>条，共</span><span id="totalCount">{{totalCount}}</span><span>条</span>
        </div>
    </div>


</div>