<div class="pageHeader" style="border:1px #B8D0D6 solid">
    <form id="pagerForm" onsubmit="return divSearch(this, 'insureUser');" action="" method="post">
        <input type="hidden" name="pageNum" value="1" />
        <input type="hidden" name="numPerPage" value="${model.numPerPage}" />
        <input type="hidden" name="orderField" value="${param.orderField}" />
        <input type="hidden" name="orderDirection" value="${param.orderDirection}" />
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        <span><label for="groupID">集团编号</label></span>
                        <input type="text" size="30" name="groupID" id="groupID">
                    </td>
                    <td>
                        <span><label for="groupName">集团名称</label></span>
                        <input type="text" size="30" name="groupName" id="groupName">
                    </td>
                    <td>
                        <span><label for="state">状态</label></span>
                        <select name="state" id="state" class="combox">
                            <option value="0" selected>全部选择</option>
                            <option value="1">状态1</option>
                            <option value="2">状态2</option>
                        </select>
                    </td>
                </tr>

            </table>
            <div class="subBar">
                <ul>
                    <li>
                        <a href="" class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent" style="border-left:1px #B8D0D6 solid;border-right:1px #B8D0D6 solid">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="bc_addAssociateShoper.html" target="dialog" minable="false" maxable="true"><span>新增关联商家</span></a></li>

        </ul>
    </div>
    <table class="list"  layoutH="160" rel="ID">
        <thead>
        <tr>
            <!--ToDo:宽度改写成百分比 以充满余下空间-->

            <th width="50"></th>
            <th width="100">集团编号</th>
            <th width="100">集团名称</th>
            <th width="100">邮箱</th>
            <th width="200">联系人名称</th>
            <th width="100">联系电话</th>
            <th width="100">联系人手机</th>
            <th width="100">状态</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="radio" name="" value="false"></td>
            <td>1</td>
            <td>bj0001</td>
            <td>xxx诊所</td>
            <td>xxx</td>
            <td>张三</td>
            <td>2011-9-6</td>
            <td>xxx</td>
        </tr>
        </tbody>
    </table>

    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value}, 'ID')">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
            <span>条，共${totalCount}条</span>
        </div>
        <div class="pagination" rel="ID" totalCount="100" numPerPage="20" pageNumShown="1" currentPage="1"></div>
    </div>
</div>
<div class="pageContent" style="border-left:1px #B8D0D6 solid;border-right:1px #B8D0D6 solid">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="bc_cancelAssociateShoper.html" target="dialog" minable="false" maxable="true"><span>解除绑定</span></a></li>
        </ul>
    </div>
    <table class="list"  layoutH="160" rel="ID">
        <thead>
        <tr>
            <!--ToDo:宽度改写成百分比 以充满余下空间-->

            <th width="50"><input type="checkbox" name="" value=""></th>
            <th width="100">商家编号</th>
            <th width="100">商家名称</th>
            <th width="200">联系人名称</th>
            <th width="100">联系人手机</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="checkbox" name="" value="false"></td>
            <td>xxx</td>
            <td>张三</td>
            <td>2011-9-6</td>
            <td>xxx</td>
        </tr>
        </tbody>
    </table>

    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value}, 'ID')">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
            <span>条，共${totalCount}条</span>
        </div>
        <div class="pagination" rel="ID" totalCount="100" numPerPage="20" pageNumShown="1" currentPage="1"></div>
    </div>
</div>