<div class="pageHeader" >
    <form id="pagerForm">

        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        <span><label for="specialOrderNumber">理赔单编号</label></span>
                        <input type="text" size="30" name="specialOrderNumber" id="specialOrderNumber" class="number">
                    </td>

                    <td>
                        <span><label for="insureCompany">保险公司</label></span>
                        <input type="text" size="30" name="insureCompany" id="insureCompany">
                    </td>
                    <td>
                        <span><label for="orderNumber">理赔笔数</label></span>
                        <input type="text" name="orderNumber" size="30" id="orderNumber" class="number">
                    </td>
                    <td>
                        <span><label for="consumeNumber">消费笔数</label></span>
                        <input type="text" name="consumeNumber" size="30" id="consumeNumber" class="number">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><label for="specialOrderMonth">理赔月份</label></span>
                        <input type="text" name="specialOrderMonth" size="30" id="specialOrderMonth">
                    </td>
                    <td>
                        <span><label for="signedShoper">签约商家</label></span>
                        <input type="text" name="signedShoper" size="30" id="signedShoper">
                    </td>
                    <td>
                        <span><label for="orderPrice">理赔金额</label></span>
                        <input type="text" name="orderPrice" size="30" id="orderPrice" class="number">
                    </td>
                    <td>
                        <span><label for="currentState">当前状态</label></span>
                        <input type="text" name="currentState" size="30" id="currentState">
                    </td>
                </tr>

            </table>
            <div class="subBar">
                <ul>
                    <li>
                        <a href="" class="buttonActive"><div class="buttonContent"><button type="submit">上一步</button></div></a>
                    </li>
                    <li>
                        <a href="" class="button"><div class="buttonContent"><button type="button">下一步</button></div></a>
                    </li>
                    <li>
                        <a href="" class="button"><div class="buttonContent"><button type="button">返回列表</button></div></a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="divider"></div>
<div class="pageContent" >

    <div class="tabs">
        <div class="tabsHeader">
            <div class="tabsHeaderContent">
                <ul>
                    <li><a href="javascript:;"><span>消费明细</span></a></li>
                    <li><a href="javascript:;"><span>审批记录</span></a></li>
                </ul>
            </div>
        </div>
        <div class="tabsContent">
            <div>
                <div class="panelBar">
                    <ul class="toolBar">
                        <li><a href="" class="icon" target="dialog" title="确定要导出这些记录吗?"><span>导出</span></a></li>
                    </ul>
                </div>
                <table class="list" rel="" layoutH="50" width="100%">
                    <thead>
                    <tr>
                        <th width="20"><input type="checkbox" class="checkboxCtrl" group="checkCtrl"></th>
                        <th width="100">商家流水号</th>
                        <th width="150">卡号</th>
                        <th width="150">商家名称</th>
                        <th width="50">状态</th>
                        <th width="100">刷卡金额</th>
                        <th width="100">现金支付</th>
                        <th width="150">消费时间</th>
                        <th width="100">操作员</th>
                    </tr>
                    </thead>
                    <tbody>

                    {{{consumeDetail}}}

                    </tbody>
                </table>
            </div>

            <div>
                <table class="list" rel="" layoutH="50" width="100%">
                    <thead>
                    <tr>
                        <th width="150">审批时间</th>
                        <th width="100">审批人</th>
                        <th width="100">审批意见</th>
                        <th width="100">当前步骤</th>
                    </tr>
                    </thead>
                    <tbody>

                    {{{reviewRecord}}}

                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>




