<div class="pageContent">
    <div class="pageFormContent">
        <table class="list" rel="" layoutH="60" width="100%" >
            <thead>
            <tr>
                <th width="150">消费大类</th>
                <th width="50">数量</th>
                <th width="50">单价</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>ji</td>
                <td>3</td>
                <td>323</td>
            </tr>
            </tbody>
        </table>
        <div class="divider"></div>

        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        <div class="unit">
                            <label for="cardNumber">卡号:</label>
                            <input type="text" class="number required" size="30" name="cardNumber" id="cardNumber">
                        </div>
                    </td>
                    <td>
                        <div class="unit">
                            <label for="orderNumber">流水号:</label>
                            <input type="text" class="number required" name="orderNumber" id="orderNumber" size="30">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="unit">
                            <label for="total">总计:</label>
                            <input type="text" class="required number" name="total" id="total" size="30">
                        </div>
                    </td>
                    <td>
                        <div class="unit">
                            <label for="discount">优惠减免:</label>
                            <input type="text" class="number" name="discount" id="discount" size="30">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="unit">
                            <label for="payByCard">刷卡金额:</label>
                            <input type="text" size="30" name="payByCard" id="payByCard" class="number">
                        </div>
                    </td>
                    <td>
                        <div class="unit">
                            <label for="payByCash">现金支付:</label>
                            <input type="text" class="number" size="30" name="payByCash" id="payByCash">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="unit">
                            <label for="passWord">输入消费密码:</label>
                            <input type="text" name="password" id="passWord" size="30" class="number">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <div class="buttonActive"><div class="buttonContent"><button type="button"> 确定</button></div></div>
                                </td>
                                <td>
                                    <div class="button"><div class="buttonContent"><button type="button">取消</button></div></div>
                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
                <tr>
                    <td>
                        <div class="unit">
                            <label for="printer">选择打印机</label>
                            <select name="printer" id="printer" class="combox">
                                <option value="one">XXX</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>