<div class="pageContent">

        <div class="pageFormContent" >
            <table class="list" rel=""  layoutH="58" width="100%">
                <thead>
                <tr>
                    <td width="50">序号</td>
                    <td width="100">消费类别</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>医疗器械</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>西药</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>齿科诊疗</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>体检</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>保健品</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>疗养</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>中药</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">保存</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
</div>