
<div>

    <div class="pageHeader">

        <form id="">

            <div class="searchBar">
            <div class="pageFormContent">
                <table class="searchContent">
                    <tr>
                        <td>
                            <span><label for="cardNumber">卡号</label></span>
                            <input type="text" size = 30 name = "cardNumber" id="cardNumber" alt="请输入卡号" class="number">
                        </td>
                        <td><span><label for="consumeNumber">消费流水号</label></span>
                            <input type="text" class="number" name="consumeNumber" id="consumeNumber" size="30">
                        </td>
                        <td>
                            <span><label for="shopNumber">商铺</label></span>
                            <select class="combox" name="shopID" id="shopNumber">
                                <option value="">请选择</option>
                                <option value="shop23">商铺</option>
                            </select>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <span><label for="startDate">起始日期</label></span>
                            <input type="text" size="15" name="startDate" id="startDate" class="date">
                            <a class="inputDateButton" href="javascript:;">选择</a>
                        </td>
                        <td>
                            <span><label for="endDate">结束日期</label></span>
                            <input type="text" size="15" name="endDate" id="endDate" class="date" >
                            <a class="inputDateButton" href="javascript:;">选择</a>
                        </td>
                    </tr>
                </table>
            </div>


                <div class="subBar">
                    <ul>
                        <li><a class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></a></li>
                    </ul>
                </div>
            </div>

        </form>
    </div>
    <div class="pageContent">
        <div class="panelBar">
            <ul class="toolBar">
                <li><a class="icon" target="dwzExport" targetType="navTab" title="确定要导出这些记录吗?"><span>导出</span></a></li>
            </ul>
        </div>

    </div>
    <table class="list" width="100%" rel="ID" layoutH="162">
        <thead>
        <tr>
            <th width="20"><input class="checkboxCtrl" type="checkbox" group="checkCtrl"/></th>
            <th width="100">消费流水号</th>
            <th width="100">投保用户名</th>
            <th width="100">投保用户</th>
            <th width="200">商铺名称</th>
            <th width="50">支付状态</th>
            <th width="50">消费金额</th>
            <th width="50">刷卡金额</th>
            <th width="100">现金支付</th>
            <th width="100">消费时间</th>
            <th width="100">消费家属</th>
            <th width="100">操作员</th>
            <th width="50">打印</th>
        </tr>
        </thead>
        <tbody>

        {{{tableData}}}

        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value}, 'ID')" class="combox">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
            <span>条，共${totalCount}条</span>
        </div>
        <div class="pages">
            <span>消费总金额:{{consumeTotalMoney}}元</span>
        </div>
        <div class="pages">
            <span>刷卡:{{consumeByCard}}元</span>
        </div>
        <div class="pages">
            <span>现金:{{consumeByCash}}元</span>
        </div>
        <div class="pagination" rel="ID" targetType="navTab" totalCount="150" numPerPage="50" pageNumShown="3" currentPage="1"></div>
    </div>
</div>