<div class="pageHeader">
    <form id="pagerForm">

        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        <span><label for="cardNumber">卡号</label></span>
                        <input type="text" size="30" name="cardNumber" id="cardNumber">
                    </td>
                    <td>
                        <span><label for="orderNumber">消费流水号</label></span>
                        <input type="text" size="30" name="orderNumber" id="orderNumber">
                    </td>
                    <td>
                        <span><label for="shop">所属商铺</label></span>
                        <select name="shop" id="shop" class="combox">
                            <option value="0">请选择</option>
                            <option value="1">商铺1</option>
                            <option value="2">商铺2</option>
                        </select>
                    </td>

                </tr>

            </table>
            <div class="subBar">
                <ul>
                    <li>
                        <a href="" class="buttonActive"><div class="buttonContent"><button type="button">检索</button></div></a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a href="" class="icon" target="dialog" title="确定要导出这些记录吗?"><span>导出</span></a></li>
        </ul>
    </div>
    <table class="list"  layoutH="116" rel="ID" width="100%">
        <thead>
        <tr>
            <th width="20"><input type="checkbox" class="checkboxCtrl" group="checkCtrl"></th>
            <th width="100">消费流水号</th>
            <th width="80">投保用户号</th>
            <th width="60">投保用户</th>
            <th width="200">商铺名称</th>
            <th width="60">支付状态</th>
            <th width="60">消费金额</th>
            <th width="60">刷卡消费</th>
            <th width="60">现金支付</th>
            <th width="150">消费时间</th>
            <th width="60">消费家属</th>
            <th width="60">操作员</th>
            <th width="60">打印</th>
        </tr>
        </thead>
        <tbody>

        {{{tableData}}}

        </tbody>
    </table>


    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
            <span>条，共{{totalCount}}条</span>
        </div>
        <div class="pagination" rel="ID" totalCount="100" numPerPage="20" pageNumShown="1" currentPage="1"></div>
    </div>


</div>