<!DOCTYPE html>
<html>
<head>
    {{>head}}
<link href="css/core.min.css" rel="stylesheet" type="text/css" />

</head>

<body>
	<div id="login">

        <div>
            <div id="login_header">
                <h1 class="login_logo">
                    <a href="javascript:;"><img src="themes/default/images/login_logo.png" /></a>
                </h1>
                <div class="login_headerContent">
                    <div class="navList">
                        <ul>
                            <li><a href="#">设为首页</a></li>
                            <li><a href="#">加入收藏</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <form  method="post" action="authorized.html" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
                <div class="pageFormContent" layoutH="58">

                    <div class="unit">
                        <span>用户名：</span>
                        <input id="userName" type="text" name="userName" size="30" minlength="6" maxlength="20"
                               class="required"/>
                    </div>
                    <div class="unit">
                        <span class="leftToRight">密码: </span>
                        <input id="pwd" type="password" name="pwd" size="30" class="required alphanumeric"/>
                    </div>
                    <div>
                        <span>记住用户名:</span>
                        <input type="checkbox" name="rememberName" checked>
                        <input type="button"  onclick="">
                    </div>
                </div>

            </form>

        </div>

        {{>footer}}
	</div>
</body>
</html>