<!DOCTYPE html>
<html>
<head>
    {{>head}}
    <link href="css/core-c7eb895277.min.css" rel="stylesheet" type="text/css"/>
    <script src="js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <![endif]-->
    <!--[if gte IE 9]><![endif]-->
    <script src="js/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="js/utils.js" type="text/javascript"></script>
</head>

<body onkeypress="responseEnter()">
<div id="login">

    <div>
        <div id="login_header">
            <h1 class="login_logo">
                <a href="javascript:;"><img src="themes/default/images/login_logo.png"/></a>
            </h1>
        </div>
        <form id="loginForm">
            <div>
                <div class="unit">
                    <span>用户名：</span>
                    <input id="loginUserName" type="text" name="userName" size="30" required="required" value="{{userName}}"/>
                </div>
                <div class="unit">
                    <span class="leftToRight">密码: </span>
                    <input id="pwd" type="password" name="pwd" size="30" required="required"/>
                </div>
                <div>
                    <span>记住用户名:</span>
                    <input type="checkbox" name="rememberName" checked>
                    <button type="button" onclick="login()" id="btnSure"></button>
                </div>
            </div>

        </form>

    </div>

    {{>footer}}
</div>
</body>
</html>