<div class="pageHeader">
    <form id="pagerForm">

        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        <span><label for="questionPoser">问题发现人</label></span>
                        <input type="text" size="30" name="questionPoser" id="questionPoser">
                    </td>
                </tr>

            </table>
            <div class="subBar">
                <ul>
                    <li>
                        <a href="" class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a href="" class="delete" target="dialog" title="确定要删除这些记录吗"><span>删除</span></a></li>
            <li><a href="" class="icon" target="dialog" title="确定要导出这些记录吗?"><span>导出</span></a></li>
        </ul>
    </div>
    <table class="list"  layoutH="116" rel="ID" width="100%">
        <thead>
        <tr>
            <th width="20"><input type="checkbox" class="checkboxCtrl"group="checkCtrl"></th>
            <th width="200">意见反馈</th>
            <th width="100">问题发现人</th>
            <th width="100">发现时间</th>
        </tr>
        </thead>
        <tbody>

        {{{tableData}}}

        </tbody>
    </table>


    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value}, 'ID')">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
            <span>条，共{{totalCount}}条</span>
        </div>
    </div>


</div>