<div class="pageContent">

    <div class="pageFormContent" layoutH="58">
        <form>
            <div class="unit">
                <label for="userName">用户名:</label>
                <input type="text" id="userName" size="30" name="userName" class="readonly" value="{{{userName}}}">
            </div>
            <div class="unit">
                <label for="userRealName">姓名:</label>
                <input type="text" size="30" name="shopID" id="userRealName" class="readonly" value="{{{userRealName}}}">
            </div>
            <div class="unit">
                <label for="email">邮箱:</label>
                <input type="text" size="30" name="email" id="email" class="readonly" value="{{{email}}}">
            </div>

            <div class="unit">
                <label for="cellphone">电话:</label>
                <input type="text" size="30" class="readonly"  id="cellphone" value="{{{cellphone}}}">
            </div>
            <div class="unit">
                <label for="userState">用户状态:</label>
                <input type="text" id="userState" name="userState" size="30" class="readonly" value="{{{userState}}}">
            </div>
            <div class="unit">
                <label for="unit">单位:</label>
                <input type="text" class="readonly" size="30" name="unit" id="unit" value="{{{unit}}}">
            </div>
        </form>

    </div>
    <div class="formBar">
        <ul>
            <li>
                <div class="button">
                    <div class="buttonContent">
                        <button type="button" class="close">确定</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>