<div class="pageContent">
    <form id="pagerForm">
        <div class="pageFormContent" layoutH="58">


            <div class="unit">
                <label for="user">用户:</label>
                <input type="text" name="user" id="user" size="30">
            </div>
            <div class="unit">
                <label for="time">时间:</label>
                <input type="text" size="30" name="time" id="time">
            </div>
            <div class="unit">
                <label for="type">操作类型:</label>
                <input type="text" id="type" name="type" size="30">
            </div>
            <div class="unit">
                <label for="beforeFix">修改前:</label>
                <textarea name="beforeFix" id="beforeFix" cols="30" rows="2"></textarea>
            </div>
            <div class="unit">
                <label for="afterFix">修改后:</label>
                <textarea name="beforeFix" id="afterFix" cols="30" rows="2"></textarea>
            </div>
            <div class="unit">
                <label for="note">备注:</label>
                <textarea name="beforeFix" id="note" cols="30" rows="2"></textarea>
            </div>

        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">确定</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>