<div class="pageContent">
    <form action="" method="post" class="pageForm required-validate" onsubmit="return validateCallback(this)">
        <div class="pageFormContent" layoutH="58">


            <div class="unit">
                <label for="roleClass">角色类型:</label>
                <select name="roleClass" id="roleClass" class="combox">
                    <option value="0" selected>用户类型</option>
                    <option value=""></option>
                </select>
            </div>
            <div class="unit">
                <label for="authorizeObject">授权对象:</label>
                <select name="authorizeObject" id="authorizeObject" class="combox">
                    <option value="0" selected>保险公司</option>
                    <option value=""></option>
                </select>
            </div>
            <div class="unit">
                <label>角色名称:</label>
                <label><input type="checkbox" name="" value="">店员</label>
                <label><input type="checkbox" name="" value="">管理员</label>
            </div>

        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">保存</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>