@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td

{ padding:0; margin:0; line-height:100%; font-family:Arial, sans-serif;font-size: 14px}

body { margin:0; text-align:center; background:#FFF;background:url(../img/touch.png) no-repeat;
    background-size:100% }
#login_header { display:block;  }
#login form {position: absolute;top:0;left:0;right:0;bottom:0;margin:auto;width: 400px;height: 300px; font-size: 16px}
#login form input[type=button] {width: 120px;height: 30px;background: url(../img/loginButton.png) ;color: #FFF;border: none}
#login form input[type=button]:hover{transform: scale(1.2,1.2);-ms-transform:scale(1.2,1.2);-moz-transform:scale(1.2,1.2);-webkit-transform:scale(1.2,1.2);-o-transform:scale(1.2,1.2);}
#login form .unit{padding-bottom: 20px}
#login form .unit span.leftToRight{padding-right: 20px}
#login form .unit input{background: transparent; border: 1px solid #FFF;padding:5px;border-radius:5px;-webkit-border-radius: 5px;
    -moz-border-radius: 5px;height: 30px;width: 200px;}
.login_logo { float:left;margin-left: 50px;margin-top: 30px}
.login_headerContent { float:right; display:block; width:280px; height:80px;margin-top: 50px}
.navList { display:block; overflow:hidden; height:20px; padding-left:30px;}
.navList ul { float:left; display:block; overflow:hidden;}
.navList li { float:left; display:block; margin-left:-1px; padding:0 10px;}
.navList a { display:block; white-space:nowrap; line-height:21px; text-decoration:none;}
.navList a:hover { text-decoration:underline;}
.footer { clear:both;position: fixed; display:block; margin-bottom:20px; padding:10px;  color:#666; text-align:center;}
